@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto+Slab:wght@300&display=swap');

* {
    font-family: "Roboto Slab";
}

header {
    background-color: #485696;
    font-family: "Josefin Sans";
    padding: 10px;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

#headerLogo {
    border-radius: 15px;
    width: 125px;
    height: 125px;
}

#anchorLogo {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
}

nav {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

nav a {
    color: #E7E7E7;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    display: none;
}

nav a:hover {
    background-color: #FC7A1E;
    border-radius: 7.5px;
}

/*hamburger button*/
#menu::before {
    content: "☰";
}

/*closing button*/
#menu.open::before {
    content: "X";
}

#menu {
    font-family: monospace;
    font-size: 2rem;
    position: absolute;
    top: 3rem;
    right: 50px;
}

.open a {
    display: block;
}

main {
    width: 90%;
    margin: 0 auto;
    background-color: #FCF5E5;
}

h1 {
    font-family: "Josefin Sans";
    font-size: 2rem;
    text-align: center;
    padding-top: 25px;
    margin-top: 0;
    color: #F24C00;
}

.heroImage {
    position: relative;
    display: inline-block;
}

.heroImage img {
    width: 100%;
    height: 100%;
}

#overlayButton {
    position: absolute;
    top: 5%;
    left: 37.5%;
    background-color: #485696;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
}

#overlayButton:hover {
    transform: scale(1.1);
    background-color: #F24C00;
}

.card {
    background-color: #E7E7E7;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
}

.card h2 {
    border-bottom: 1px solid gray;
}

.cardContainer {
    margin-top: 15px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

#barber,
#it,
#tutor {
    box-shadow: 5px 5px 5px #485696;
}

.card p {
    font-weight: normal;
    color: blue;
}

#events p,
#weather p {
    color: black;
}

main .dark-mode #weather p {
    color: white;
}

main .dark-mode #events p {
    color: white;
}


footer {
    background-color: #485696;
    color: #E7E7E7;
    font-size: 1.2rem;
    display: grid;
    grid-template-rows: 1fr;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    float: left;
    padding: 10px;
}

.informations {
    grid-row: 1/2;
}

.contact {
    grid-row: 2/3;
    padding: 10px;
    justify-self: center;
    align-self: center;
}

.websiteInfo {
    grid-row: 3/4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.spotlight {
    background-color: #485696;
    color: white;
    width: 60%;
    margin: 10px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 5px;
}

.mode {
    position: absolute;
    top: 6rem;
    right: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

.dark-mode {
    background-color: #000;
    color: #fff;
    border-color: #eee;
}

/*The styling for the discovery page starts here*/
#discoverContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.anecdote,
.fruits,
.cityEvent {
    border: black solid 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    max-width: 100%;
}

#discoverContainer img {
    max-width: 100%;
    height: auto;
}

.welcomeMsg {
    text-align: center;
    font-size: 30px;
    background-color: #FCF5E5;
}

/*The styling for the join page starts here*/
.join {
    font-size: 1.20rem;
}

.container,
.join {
    width: 90%;
    margin: 5px auto;
}

.container h2,
.container h3 {
    font-family: "Josefin Sans";
    text-decoration: underline;
}

.container {
    border: solid 1.5px black;
    padding-left: 10px;
    border-radius: 5px;
}

.join legend {
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    padding: 4px;
}

.join fieldset {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.join textarea {
    border-radius: 5px;
    display: block;
    margin-top: 5px;
}

.join label {
    display: block;
}

.join input[type="text"],
.join input[type="email"],
.join input[type="tel"] {
    background: white;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 400px;
    margin-top: .25rem;
    margin-bottom: 1rem;
}

.join input[type="radio"] {
    margin-top: 15px;
    margin-bottom: 15px;
}

.join input[type="submit"] {
    background-color: #485696;
    color: #E7E7E7;
    font-size: 1.5rem;
    border-radius: 6px;
    margin-top: 25px;
    margin-bottom: 35px;

}

.business {
    margin-top: 25px;
    text-decoration: underline;
    font-size: 1.3rem;
}

/*Thank you page styling*/

.thankYou {
    height: 400px;
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
}

.thanks {
    font-size: 2rem;
}

/*Directory styling page*/
#buttonsContainer {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #FC7A1E;
    text-align: center;
}

#grid,
#list {
    padding: 5px;
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 8px;
}

#container img {
    display: block;
    margin: 5px auto;
    border-radius: 5px;
}

#container h3,
#container p {
    text-align: center;
}

#container div {
    border: 2px solid navy;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 7.5px 7.5px 5px lightblue;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

#container .list {
    display: flex;
    flex-direction: column;
}

#container.list>div {
    border: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#container.list>div p:nth-child(-n+4) {
    display: none;
}

#container.list>div:nth-child(even) {
    background-color: #485696;
    color: white;
}

#container.list>div>img {
    display: none;
}