@media screen and (min-width:600px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#lessons {
		grid-column: 1/2;
	}

	#informations {
		grid-column: 2/3;
	}

	h2 {
		grid-column: 1/3;
	}

	nav {
		display: flex;
		flex-direction: row;
	}

	.navLink {
		display: block;
		flex: 1 1 100%;
	}

	/*hides the ham button on large view*/
	#menu {
		display: none;
	}

	iframe {
		height: 400px;
	}

	.herolabel {
		position: absolute;
		font-size: 1.5rem;
		font-weight: bold;
		top: 30px;
		left: 30px;
		background: radial-gradient(#fff, #003F88);
		border: 1px solid rgba(0, 0, 0, .75);
		padding: 1.5rem;
		box-shadow: 0 0 3rem #fff;
		opacity: 0.75;
		width: auto;
		height: auto;
		/* Buenas */
	}
}